@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src:
    url(/fonts/MaterialSymbolsOutlined.woff2) format("woff2"),
    url(/fonts/MaterialSymbolsOutlined.ttf) format("truetype");
  font-display: block;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  user-select: none;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.custom-swiper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.custom-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

.custom-swiper .swiper-pagination {
  display: flex;
  position: relative;
  margin-top: 38px;
  margin-bottom: 20px;
  justify-content: center;
  --swiper-theme-color: #ed7950;
}

.custom-pagination {
  display: flex;
  position: absolute;
  z-index: 20;
  top: 20px !important;
  right: 20px;
  left: auto !important;
  width: fit-content !important;
  pointer-events: none;
}

.custom-bullet.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  cursor: pointer;
  pointer-events: all;
  transition: all 0.5s ease-in-out;
}
.custom-bullet.swiper-pagination-bullet-active {
  background: #ffffff;
}

.carousel-image {
  max-width: 490px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  -webkit-text-fill-color: #ffffff;
}

.swiper-button-prev {
  padding-left: 70px;
}

.swiper-button-next {
  padding-right: 70px;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  pointer-events: none;
}

.swiper-button-prev-show svg {
  pointer-events: none;
}

@media (max-width: 768px) {
  .carousel-image {
    max-width: 316px;
  }
}

@media (max-width: 768px) {
  .carousel-image {
    width: 316.43px;
    height: 237px;
  }
}

@media (min-width: 769px) {
  .carousel-image {
    width: 490px;
    height: 367px;
  }
}

.swiper-pagination {
  display: none;
}

@media (max-width: 767px) {
  .swiper-pagination {
    display: block;
    bottom: 10px;
  }

  .swiper-pagination-bullet {
    opacity: 0.6;
  }
}

/* Estilo para o segundo texto */
.carousel-text-wrapper.second-text .carousel-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #6e6e6e; /* Cinza */
}
