@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src:
    url(/fonts/MaterialSymbolsOutlined.woff2) format("woff2"),
    url(/fonts/MaterialSymbolsOutlined.ttf) format("truetype");
  font-display: block;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  user-select: none;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.custom-swiper {
  width: 100%;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .carousel-image {
    width: 316.43px;
    height: 237px;
  }
}

@media (min-width: 769px) {
  .carousel-image {
    width: 490px;
    height: 367px;
  }
}

.swiper-pagination {
  display: none;
}

@media (max-width: 767px) {
  .swiper-pagination {
    display: block;
    bottom: 10px;
    --swiper-theme-color: #ff6f00;
    --swiper-pagination-bottom: -4px;
  }

  .swiper-pagination-bullet {
    opacity: 0.6;
  }
}

/* Estilo para o segundo texto */
.carousel-text-wrapper.second-text .carousel-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #6e6e6e; /* Cinza */
}
